.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 10px; 
}

.grid-item {
  border: 1px solid #ccc; 
  padding: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.image img {
  width: 100%;
  height: 200px;
  object-fit: cover; /
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-texts{
    line-height: 1.875em;
    text-align: center;
    font-size: 15px;
    color: #79737b;
}