.home-header {
  position: relative;
  text-align: center;
  height: 95vh;
  overflow: hidden;
}

.big-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-header img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  z-index: -1;
  transition: transform 0.3s ease;
}

.projects {
  background-color: #e7e7e7;
  padding: 20px;
}

.contact-container {
  background-color: #e7e7e7;
  padding: 20px;
}

.contact-sections {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  border: 1px solid red;
}

.contact-texts {
  margin: 1px;
}

.contact-logo {
  width: 25%;
  height: fit-content;
  position: sticky;
  top: 50%;
}

.contact-image {
  width: 60%;
}

.contact-image-container {
  max-width: 50%;
}
