.home-header {
  position: relative;
  text-align: center;
}

.big-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-header img {
  width: 100%;
  display: block;
  height: 95vh;
  object-fit: cover;
}
