.footer {
  background-color: #79737b;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info p {
  margin: 0;
}

.footer-social a {
  color: #fff;
}

.footer-logo img {
  height: 80px;
}
